<div class="container">

  <!-- you can use template conditions and define template elements for each condition like this vv -->
  <!-- <div *ngIf="items.length === 0; then noItems else showItems"></div> -->

  <div *ngIf="items.length === 0; else showItems">
    No items to display
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" type="checkbox" [checked]="item.isComplete" [attr.data-index]="ii"
              (click)="toggleItem($event)"> {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

  <td [colSpan]=""></td>


</div>