<div class="container">

  <!-- you can use template conditions and define template elements for each condition like this vv -->
  <!-- <div *ngIf="items.length === 0; then noItems else showItems"></div> -->

  <div *ngIf="items.length === 0; else showItems">
    No items to display
  </div>

  <ng-template #showItems>
    <ul class="form-check" *ngFor="let item of items">
      <li class="form-check-label">
        <input type="text" type="checkbox"> {{item.wishText}}
      </li>
    </ul>
  </ng-template>




</div>