*, body, html{
    background-color: #DDDDDD;
    font-family: Georgia;
    
}

body{
    margin: 0 3rem;
}

.flex{
    display: flex;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
