<div class="title">
    <h2>Speech To Text</h2>
    <p>Insert a video to display real time text captioning recognition.</p>
</div>


<div class="upload-container">
    <div class="upload-section">
        <label *ngIf="!videoUrl" for="video-upload" class="upload-area">
            <div class="upload-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                    <polyline points="17 8 12 3 7 8" />
                    <line x1="12" y1="3" x2="12" y2="15" />
                </svg>
                <span>Drag and drop your video here or click to browse</span>
                <span class="file-info">MP4, WebM, or Ogg video files</span>
            </div>
            <input type="file" id="video-upload" accept="video/*" (change)="onFileSelected($event)" hidden>
        </label>
    </div>

    <div class="loading-container" *ngIf="isLoading">
        <div class="loader"></div>
        <p>AI magic is brewing...</p>
    </div>

    <ng-container class="left-section " *ngIf="!isLoading">
        <div class="flex justify-between">
            <div class="left">
                <video #videoPlayer [src]="videoUrl" *ngIf="words?.length" controls autoplay class="video-player"
                    (timeupdate)="onTimeUpdate()">
                </video>
                <div *ngIf="words?.length" class="reader-wrapper">
                    <div class="scroll-container">
                        <div *ngIf="words?.length" class="transcript-area">
                            <span *ngFor="let word of words" [class.highlight-word]="checkWordsAndScroll(word)"
                                class="word">
                                <p>{{word.text}}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="words?.length" class="central-line"></div>
            <div class="right">
                <div *ngIf="words?.length" class="confidence-meter">
                    <div class="confidence-display">
                        <div class="confidence-title">
                            Sentiment Analysis: Confidence lvl
                        </div>
                        <div>
                            <span class="confidence-emoji"
                                [innerHTML]="getConfidenceEmoji(getCurrentWordConfidence())"></span>
                            <span class="confidence-percentage"> {{ getCurrentWordConfidence() | number:'1.0-0'
                                }}%</span>
                        </div>
                    </div>
                </div>


                <div *ngIf="words?.length" class="analysis-container">


                    <!-- Entity Summary Section -->
                    <div class="entity">
                        <h3 class="entity-heading ">Semantic Entity Detection</h3>
                        <div class="entity-grid">
                            <!-- Left Column -->
                            <div class="entity-column">
                                <div *ngFor="let type of getUniqueEntityTypes(); let i = index">
                                    <div *ngIf="i % 2 === 0" class="entity-card">
                                        <h4 class="entity-type helvetica">{{ formatEntityType(type) }}</h4>
                                        <div class="entity-list">
                                            <div *ngFor="let entity of getEntitiesByType(type)" class="entity-item">
                                                {{ entity.text }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Right Column -->
                            <div class="entity-column">
                                <div *ngFor="let type of getUniqueEntityTypes(); let i = index">
                                    <div *ngIf="i % 2 === 1" class="entity-card">
                                        <h4 class="entity-type helvetica">{{ formatEntityType(type) }}</h4>
                                        <div class="entity-list">
                                            <div *ngFor="let entity of getEntitiesByType(type)" class="entity-item">
                                                {{ entity.text }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- Content Safety -->
                    <div class="safety">
                        <h3 class="">Content Safety Analysis</h3>
                        <ng-container *ngIf="contentSafety?.content_safety_labels?.summary">
                            <div *ngFor="let item of getContentSafetyItems()" class="safetydiv">
                                <div class="safetylabel">
                                    <span class="typesafety">{{ formatLabel(item.label) }}</span>
                                    <span class="safetyperc"
                                        [ngStyle]="{
                                                'color': item.score > 0.7 ? '#ff1654' : item.score > 0.4 ? '#02cbaa' : '#64ca71'}">
                                        {{ (item.score * 100).toFixed(0) }}%
                                    </span>
                                </div>
                                <div class="progress-container">
                                    <div class="progress-bar" [style.width.%]="item.score * 100"
                                        [ngStyle]="{'background-color': item.score > 0.7 ? '#ff1654' : item.score > 0.4 ? '#02cbaa' : '#64ca71'}">
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <!-- Topic Summary -->
                    <div class="topic-summary">
                        <h3 class="topic-heading ">Topic Overview</h3>
                        <div class="topic-grid">
                            <div *ngFor="let item of getTopicItems()" class="topic-item">
                                <div class="topic-header">
                                    <span class="topic-label">{{ formatTopicLabel(item.topic) }}</span>
                                    <span class="topic-percentage" [ngStyle]="{'color': '#3B82F6'}">
                                        {{ (item.relevance * 100).toFixed(0) }}%
                                    </span>
                                </div>
                                <div class="progress-container">
                                    <div class="progress-bar" [style.width.%]="item.relevance * 100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Current Topics -->
                    <div class="topic-details">
                        <h3 class="heading-tertiary">Topic Analysis</h3>
                        <div class="current-topics">
                            <h4 class="subheading">Current Topics</h4>
                            <div class="topic-container">
                                <ng-container *ngIf="iabCategories?.results?.length">
                                    <div *ngFor="let result of iabCategories!.results" class="topic-card"
                                        [class.topic-card--active]="result.timestamp && currentTime >= result.timestamp.start && currentTime <= result.timestamp.end">
                                        <div *ngIf="result.timestamp" class="timestamp">
                                            {{ (result.timestamp.start / 1000).toFixed(1) }}s - {{ (result.timestamp.end
                                            / 1000).toFixed(1) }}s
                                        </div>
                                        <p class="topic-text">{{ result.text }}</p>
                                        <div class="labels-container">
                                            <div *ngFor="let label of result.labels || []" class="topic-label">
                                                {{ formatTopicLabel(label.label) }}
                                                <span class="topic-label__relevance">({{ (label.relevance *
                                                    100).toFixed(0) }}%)</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>


                    <!-- Sentiment Timeline -->
                    <div class="analysis-section">
                        <h3 class="section-title">Sentiment Analysis</h3>
                        <div class="sentiment-timeline">
                            <div *ngFor="let sentiment of sentimentAnalysis" [ngClass]="{
                                    'border-l-4': true,
                                    'border-red-500': sentiment.sentiment === 'NEGATIVE',
                                    'border-green-500': sentiment.sentiment === 'POSITIVE',
                                    'border-gray-500': sentiment.sentiment === 'NEUTRAL',
                                    'bg-blue-50': currentTime >= sentiment.start && currentTime <= sentiment.end
                                }" class="sentiment-item">
                                <div class="sentiment-header">
                                    <span [ngClass]="{
                                            'text-red-600': sentiment.sentiment === 'NEGATIVE',
                                            'text-green-600': sentiment.sentiment === 'POSITIVE',
                                            'text-gray-600': sentiment.sentiment === 'NEUTRAL'
                                        }" class="sentiment-label">
                                        {{ sentiment.sentiment }}
                                    </span>
                                    <span class="confidence-badge">
                                        {{ (sentiment.confidence * 100).toFixed(0) }}%
                                    </span>
                                </div>
                                <p class="sentiment-text">{{ sentiment.text }}</p>
                                <div class="timestamp">
                                    {{ (sentiment.start / 1000).toFixed(1) }}s - {{ (sentiment.end / 1000).toFixed(1)
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>


    </ng-container>
</div>