<h2 class="title">Speech To Text</h2>
<p>Insert a video to display real time text captioning recognition.</p>


<div class="upload-container">
    <label *ngIf="!videoUrl" for="video-upload" class="upload-area">
        <div class="upload-content">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                <polyline points="17 8 12 3 7 8" />
                <line x1="12" y1="3" x2="12" y2="15" />
            </svg>
            <span>Drag and drop your video here or click to browse</span>
            <span class="file-info">MP4, WebM, or Ogg video files</span>
        </div>
        <input type="file" id="video-upload" accept="video/*" (change)="onFileSelected($event)" hidden>
    </label>

    <div class="loading-container" *ngIf="isLoading">
        <div class="loading-spinner"></div>
        <p>ai magic is brewing...</p>
    </div>

    <ng-container *ngIf="!isLoading">
        <video #videoPlayer [src]="videoUrl" *ngIf="transcriptText" controls autoplay class="video-player">
        </video>
        <div *ngIf="transcriptText" class="transcript-area">
            <p>{{transcriptText}}</p>
        </div>
    </ng-container>
</div>